.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#a3a199;
  z-index: 500;
}

.footer-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.logo {
  display: flex;
  color: white;
  font-family: 'Roboto Slab';
  font-size: 32px;
  padding: 10px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.social > a {
  margin-left: 10px;
  margin-right: 10px;
  color: #5679b3;
}

.dropdown {
  display: flex;
  justify-content: center;
  background-color: #a3a199;
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
}

select {
  font-family: 'Roboto Slab';
  font-size: 16px;
  font-weight: lighter;
  background-color: #a3a199;
  border-radius: 0px;
  outline: none;
  border: none;
  color: white;
}

select > option {
  color: white;
}